/* LINKS, BUTTONS */
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
button {
  cursor: pointer;
}

/* HEADER */
/* Mobile */
header {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

nav, .search {
  --icon-size: 40px;
  --button-size: 70px;
  --transition-duration: .3s;
  position: relative;
  height: min-content;
  background-color: var(--white);
  border-top: var(--standard-border);
  box-shadow: var(--standard-up-shadow);
}
/* The coloured overlay when menu is opened */
nav::before, .search::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  height: calc(100vh - var(--icon-size));
  background-color: var(--black--translucent);
  z-index: -2;
  opacity: 0;
  transition: opacity var(--transition-duration) linear;
}
.nav--active::before, .search--active::before {
  opacity: 1;
}

.nav__logo {
  margin-left: var(--space-md);
}
.nav__logo > img {
  display: inline-block;
  height: var(--icon-size);
}

.nav__link-list, .search__group {
  position: absolute;
  z-index: -1;
  bottom: 100%;
  left: 0;
  right: 0;
}
.nav__link-list, .search__group {
  transform: translateY(100%);
  transition: transform var(--transition-duration);
}
.nav__link-list {
  display: flex;
  padding: var(--space-sm) var(--space-md);
  flex-direction: column-reverse;
  box-shadow: var(--standard-up-shadow);

  background-color: var(--white);
}
.nav__link-list--active, .search--active > .search__group {
  transform: translateY(0);
}
.nav__link-list > li {
  width: 100%;
}
.nav__link-list > li > a {
  display: inline-block;
  padding: var(--space-md) 0;
  width: 100%;
  text-align: right;

  font-family: var(--body-font-family);
  font-weight: var(--body-bold-weight);
  font-size: var(--text-body-size--large);

  color: var(--colour-secondary--dark);
}

.nav__icon-group {
  display: flex;
}
.nav__icon-group__icon, .search__close {
  width: var(--button-size);
  height: var(--button-size);
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}
.nav__icon-group__icon--filled, .search__close {
  background-color: var(--colour-secondary--medium-contrast);
}
.nav__icon-group__icon > img, .search__close > img {
  display: inline-block;
  width: var(--icon-size);
  height: var(--icon-size);
}
.nav__open-button > img {
  transition: transform var(--transition-duration);
}
.nav__open-button--active > img {
  transform: rotate(180deg);
}

.search__input {
  /* Fill in the rest of the space */
  flex-basis: 0;
  flex-grow: 999;
  height: calc(100% - 2 * var(--space-sm));
  margin: 0 var(--space-md);
  padding: var(--space-sm-md) var(--space-md);

  border: var(--standard-border);
  background-color: var(--white);
  transition: box-shadow var(--transition-duration);
}
.search__input:focus {
  border: var(--focus-border);
  box-shadow: var(--standard-centre-shadow);
  outline: none;
}

.search__group {
  position: absolute;
  bottom: 100%;
}
.search__group__intro {
  padding: calc(2 * var(--space-lg)) var(--space-md);
}

.search__group__intro, .search__group__results {
  opacity: 0;
  transition: opacity var(--transition-duration) linear;
  background-color: var(--white);
  width: 100%;

  position: absolute;
  bottom: 0;
}
.search__group__intro--active, .search__group__results--active {
  opacity: 1;
}

.search__group__intro {
  display: grid;
  justify-content: center;
  grid-template-columns: 13fr 7fr; 
}
.search__group__intro > * {
  grid-column: 1/2;
}
/* Trick from StackOverflow to resize size https://stackoverflow.com/questions/6668577/using-before-css-pseudo-element-to-add-image-to-modal/6668643#6668643 */
.search__group__intro::before {
  content: '';
  position: absolute;
  display: block;
  right: 0;
  top: 5%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/images/raster/vikingCharacter1--no-bg.png");
  width: 40%;
  /* Account for that top: 5% */
  height: 95%; 
}
.search__group__intro h2 {
  margin-bottom: var(--space-sm);
}
.search__group__intro ul {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: var(--space-md);
}
.search__group__intro ul li, .search__group__intro p {
  font-size: var(--text-body-size--large);
}
/* Solution to reduce spacing from https://stackoverflow.com/questions/4373046/css-control-space-between-bullet-and-li */
.search__group__intro ul li span {
  position: relative;
  left: calc(-1 * var(--space-sm));
}

/* Desktop */
@media (min-width: 50em) {
  header {
    bottom: unset;
    top: 0;
  }

  nav, .search {
    border-top: unset;
    border-bottom: var(--standard-border);
    box-shadow: var(--standard-down-shadow);
  }
  nav::before, .search::before {
    bottom: unset;
    top: 100%;
  }

  ul.nav__link-list {
    display: flex;
    flex-direction: row;

    padding: 0;
    gap: var(--space-lg);

    position: static;
    z-index: unset;
    box-shadow: unset;
    transform: translateY(0);
  }
  .nav__link-list > li {
    width: max-content;
  }

  .nav__open-button {
    display: none;
  }

  .search__group {
    bottom: unset;
    top: 100%;
  }
  .search__group__intro, .search__group__results {
    bottom: unset;
    top: 0;
    box-shadow: var(--standard-down-shadow);
  }

  /* this doesn't work... */
  /* .search__group__intro {
    --max-content-width: 70em;
    grid-template-columns: minmax(13fr, calc(0.65 * var(--max-content-width))) minmax(7fr, calc(0.35 * var(--max-content-width))); 
  } */
}
@media(min-width: 85em) {
  nav, .search {
    --icon-size: 45px;
    height: unset;
  }
  nav {
    padding: var(--space-xs);
  }
  .search {
    --button-size: calc(70px + 3 * var(--space-xs));
  }

  .search__input {
    padding: var(--space-sm) var(--space-md);
  }

  /* Minor modification from design;
    smaller font helps with visual hierarchy */
  .nav__link-list > li > a {
    font-size: var(--text-body-size);
  }
}

/* UTILITIES */
/* Hidden classes for menus and transitions */
.hidden, .nav--hidden::before, .search--hidden::before {
  display: none;
}

/* tmp */
main img {
  width: 50%;
}
/* a > img {
  width: 30px;
} */