/* HEADER */
/* Avoid scrolling when menus are open */
.body--overlay-open {
  overflow: hidden;
}
/* Mobile */
:root {
  --icon-size: 40px;
  --button-size: 70px;
  --transition-duration: .3s;
}
header {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
}
main {
  margin-bottom: var(--button-size);
}

nav, .search {
  height: min-content;
  border-top: var(--standard-border);
  box-shadow: var(--standard-up-shadow);
}
nav {
  position: relative;
  background-color: var(--white);
}
.search {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--white--transparent);
  transition: background-color var(--transition-duration) linear;
}
nav::before, .search > *:not(.search__group), .search::before {
  opacity: 0;
  transition: opacity var(--transition-duration) linear;
}
.search--active {
  background-color: var(--white);
}
/* The coloured overlay when menu is opened */
nav::before, .search::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  /* Subtract the height of the menu bar it belongs to. */
  height: calc(100vh - 100%);
  background-color: var(--black--translucent--50);
  z-index: -2;
}
.nav--active::before, .search--active > *:not(.search__group), .search--active::before {
  opacity: 1;
}

.nav__logo {
  margin-left: var(--space-md);
}
.nav__logo > img {
  display: inline-block;
  height: var(--icon-size);
}

.nav__link-list, .search__group {
  position: absolute;
  z-index: -1;
  bottom: 100%;
  left: 0;
  right: 0;
}
.nav__link-list, .search__group {
  transform: translateY(100%);
  transition: transform var(--transition-duration);
}
.nav__link-list {
  display: flex;
  padding: var(--space-sm) var(--space-md);
  flex-direction: column-reverse;
  box-shadow: var(--standard-up-shadow);

  background-color: var(--white);
}
.nav__link-list--active, .search--active > .search__group {
  transform: translateY(0);
}
.nav__link-list > li {
  width: 100%;
}
.nav__link-list > li > a {
  display: inline-block;
  padding: var(--space-md) 0;
  width: 100%;
  text-align: right;

  font-family: var(--body-font-family);
  font-weight: var(--body-bold-weight);
  font-size: var(--text-body-size--large);

  color: var(--colour-secondary--dark);
}

.nav__icon-group {
  display: flex;
}
.nav__icon-group__icon, .search__close {
  width: var(--button-size);
  height: var(--button-size);
  margin: 0;
  padding: 0;
}
.nav__icon-group__icon > img, .search__close > img {
  display: inline-block;
  width: var(--icon-size);
  height: var(--icon-size);
}
.nav__open-button > img {
  transition: transform var(--transition-duration);
}
.nav__open-button--active > img {
  transform: rotate(180deg);
}

.search__input {
  /* Fill in the rest of the space */
  flex-basis: 0;
  flex-grow: 999;
  height: calc(100% - 2 * var(--space-sm));
  margin: 0 var(--space-md); 
}

.search__group {
  position: absolute;
  bottom: 100%;
  background-color: var(--white);
  max-height: calc(100vh - 100%);
  width: 100%;
}
.search__group__intro {
  position: relative;
  padding: calc(2 * var(--space-lg)) var(--space-md);
}

.search__group__intro, .search__group__results {
  width: 100%;
}

.search__group__intro {
  display: grid;
  justify-content: center;
  grid-template-columns: 13fr 7fr; 
}
.search__group__intro > * {
  grid-column: 1/2;
}
/* Trick from StackOverflow to resize size https://stackoverflow.com/questions/6668577/using-before-css-pseudo-element-to-add-image-to-modal/6668643#6668643 */
.search__group__intro::before, .hero::after {
  content: '';
  position: absolute;
  display: block;
  right: 0;
  top: 5%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/images/raster/vikingCharacter1--no-bg.png");
  width: 40%;
  /* Account for that top: 5% */
  height: 95%; 
}
.search__group__intro h2 {
  margin-bottom: var(--space-sm);
}
.search__group__intro ul {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: var(--space-md);
}
.search__group__intro ul li, .search__group__intro p {
  font-size: var(--text-body-size--large);
}
/* Solution to reduce spacing from https://stackoverflow.com/questions/4373046/css-control-space-between-bullet-and-li */
.search__group__intro ul li span {
  position: relative;
  left: calc(-1 * var(--space-sm));
}

.search__group__results {
  max-height: 100%;
  overflow-y: scroll;
}

.categories-blog, .products {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: var(--space-xl);

  width: 100%;
  max-width: 100%;
}
.products {
  margin-top: 0;
}
.categories-blog h2, .products h2 {
  margin-bottom: var(--space-xs);
}
.categories-blog > div {
  margin-bottom: var(--space-xl);
}

.categories-blog__categories-wrapper, .categories-blog__blog-wrapper, .categories {
  --category-card-height: 10rem;
}
.categories-blog__categories-wrapper, .categories-blog__blog-wrapper {
  --min-card-width: 20em;

  display: grid;
  width: 100%;
  /* Thanks https://youtu.be/qII5BueXWD4 */
  grid-gap: var(--space-md);
  grid-template-columns: repeat(auto-fit, minmax(var(--min-card-width), 1fr));

  --expand-button-size: 70px;
  --expand-icon-size: 40px;
  max-height: calc(var(--category-card-height) + var(--expand-button-size));
  /* Allows for the hover animation to not get clipped */
  padding-top: var(--space-sm);
  padding-bottom: var(--expand-button-size);
  overflow: hidden;
  position: relative;

  /* Idea from https://stackoverflow.com/questions/3508605/how-can-i-transition-height-0-to-height-auto-using-css */
  transition: max-height var(--transition-duration);
}
.categories-blog__blog-wrapper {
  padding-left: var(--space-md);
  padding-right: var(--space-md);
  /* Allows for the hover animation to not get clipped */
  padding-top: var(--space-sm);
}
.segment--active {
  max-height: 100%;
}
.segment--active--fix-close {
  position: static;
}

.segment--active .categories-blog__categories-wrapper__toggle img, .segment--active .categories-blog__blog-wrapper__toggle img {
  transform: rotate(180deg);
}
.categories-blog__categories-wrapper__toggle, .categories-blog__blog-wrapper__toggle {
  position: absolute;
  height: var(--expand-button-size);
  width: 100%;
  /* top: calc(100% - var(--expand-button-size)); */
  /* bottom: min(0, calc()); */
  bottom: 0;
  border: none;
  background: linear-gradient(180deg, var(--white--transparent) 0%, var(--white--translucent--45) 10%, var(--white) 100%);
  z-index: 1;
}
.categories-blog__categories-wrapper__toggle img, .categories-blog__blog-wrapper__toggle img {
  height: var(--expand-icon-size);
  width: var(--expand-icon-size);
  transition: transform var(--transition-duration);
}

.category-card, .blog-card {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.category-card, .blog-card {
  --transition-duration--short: .1s;
  --transition-timing-function: ease-out;
}
.category-card {
  --img-width: 60%;
  --img-width--decimal: 0.6;
  --overlay-width: 65%;

  transition:
    transform var(--transition-duration--short) var(--transition-timing-function),
    filter var(--transition-duration--short) var(--transition-timing-function);
}
.category-card:hover {
  transform: translateY(calc(-1 * var(--space-xs)));
  filter: drop-shadow(var(--standard-down-shadow));
}
.category-card h3 {
  line-height: 1;
}
.blog-card {
  --img-width: 20%;
  --text-width: calc(100% - var(--img-width));
  border: var(--card-border--light-bg);
  height: min-content;
  /* Justify the content to the left to make space for the image on the left */
  justify-content: end;

  transition:
    transform var(--transition-duration--short) var(--transition-timing-function),
    box-shadow var(--transition-duration--short) var(--transition-timing-function);
}
.blog-card:hover {
  transform: translateY(calc(-1 * var(--space-xs)));
  box-shadow: var(--standard-down-shadow);
}
/* Idea from https://community.hubspot.com/t5/CMS-Development/Adding-a-colour-overlay-to-an-image/m-p/780238#:~:text=To%20add%20a%20color%20overlay,a%20semi%2Dtransparent%20background%20color.&text=In%20this%20code%2C%20the%20%3A%3A,to%20cover%20the%20entire%20area */
.category-card picture, .blog-card picture {
  position: relative;
}
.category-card picture {
  height: var(--category-card-height);
  flex-basis: var(--img-width);
}
.blog-card picture {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: var(--img-width);
}
.category-card picture img, .blog-card picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.category-card picture::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(90deg, var(--white--transparent) 0%, var(--white--translucent--45) calc(var(--overlay-width) - 1%), var(--white--translucent--81) var(--overlay-width), var(--white--translucent--90) 100%);
}

.category-card__text-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(var(--img-width) - calc(var(--img-width--decimal) * (100% - var(--overlay-width))) / 1.5);
  width: calc(100% - var(--img-width) + calc(var(--img-width--decimal) * (100% - var(--overlay-width))) / 2);
  padding-right: var(--space-lg);
}
.category-card__text-wrapper h3, .blog-card__text-wrapper h3 {
  margin-bottom: var(--space-xs);
}

.blog-card__text-wrapper {
  padding: var(--space-md);
  flex-basis: var(--text-width);
  height: min-content;
}


.products__filters {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--space-lg) var(--space-md);
  gap: var(--space-md);
}

.price-fieldset, .checkbox-fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var(--space-sm);
}
.checkbox-fieldset {
  grid-row-gap: var(--space-xs);
}

.price-fieldset__label {
  font-style: italic;
  width: 100%;
}
.price-fieldset__label input {
  width: 100%;
  margin-top: var(--space-xs);
}

.price-fieldset__legend, .checkbox-fieldset__legend {
  grid-column: 1 / span 2;
  margin-bottom: var(--space-xs);
}
.checkbox-fieldset__label, .news-and-events__form__label--checkbox {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.checkbox-fieldset__label__box, .news-and-events__form__label--checkbox__box {
  display: block;
  width: var(--text-body-size--large);
  height: var(--text-body-size--large);
  border: var(--thinner-border);
  background-color: var(--white);
} 
.news-and-events__form__label--checkbox__box {
  border: none;
}
.checkbox-fieldset__label__box img, .news-and-events__form__label--checkbox__box img {
  width: 100%;
  height: 100%;
  opacity: 0;
}
.checkbox-fieldset__label input:checked + .checkbox-fieldset__label__box img, .news-and-events__form__label--checkbox input:checked + .news-and-events__form__label--checkbox__box img {
  opacity: 1;
}
.checkbox-fieldset__label input, .news-and-events__form__label--checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Desktop */
@media (min-width: 50em) {
  header {
    position: sticky;
    bottom: unset;
    top: 0;
  }

  nav, .search {
    border-top: unset;
    border-bottom: var(--standard-border);
    box-shadow: var(--standard-down-shadow);
  }
  nav::before, .search::before {
    bottom: unset;
    top: 100%;
  }

  ul.nav__link-list {
    display: flex;
    flex-direction: row;

    padding: 0;
    gap: var(--space-lg);

    position: static;
    z-index: unset;
    box-shadow: unset;
    transform: translateY(0);
  }
  .nav__link-list > li {
    width: max-content;
  }

  .nav__open-button {
    display: none;
  }

  .search__group {
    bottom: unset;
    top: 100%;
    transform: translateY(-100%);
    box-shadow: var(--standard-down-shadow);
  }
  .search__group__intro::before {
    width: 25%;
  }

  .categories-blog > div {
    margin-bottom: var(--space-md);
  }

  .products {
    grid-template-columns: 20em 1fr;
    grid-template-areas:
      "h2 h2"
      "filters carousel";
  }
  .products h2 {
    grid-area: h2;
  }
  .products .carousel {
    grid-area: carousel;
  }
  .products__filters {
    grid-area: filters;
    padding-top: 0;
  }
}
@media(min-width: 85em) {
  nav, .search {
    --icon-size: 45px;
    height: unset;
  }
  nav {
    padding: var(--space-xs);
  }
  .search {
    --button-size: calc(70px + 3 * var(--space-xs));
  }

  .search__input {
    padding: var(--space-sm) var(--space-md);
  }

  /* Minor modification from design;
    smaller font helps with visual hierarchy */
  .nav__link-list > li > a {
    font-size: var(--text-body-size);
  }

  .categories-blog__blog-wrapper, .products {
    padding-left: var(--space-xl);
    padding-right: var(--space-xl);
  }
  .products__filters {
    padding-left: 0;
  }
}

/* UTILITIES */
/* Hidden classes for menus and transitions */
.hidden, .nav--hidden::before, .search--hidden::before {
  display: none !important;
}