/* Most of these are taken from lectures or workshops */

/* Cluster */
.cluster {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

/* .cluster > * + * {
  margin-left: var(--space-sm);
} */

/* Stack */
.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

/* .stack--space-sm > * + * {
  margin-top: var(--space-sm);
} */

.stack--space-md > * + * {
  margin-top: var(--space-md);
}

/* .stack--space-lg > * + * {
  margin-top: var(--space-lg);
} */

/* My version of centre: Centring everything inside */
.centre {
  display: flex;
  align-items: center;
  justify-content: center;
}
.centre--horizontal {
  display: flex;
  justify-content: center;
}

/* max-width on content wrapper to prevent increase in width. */
.max-width {
  width: 100%;
  --max-width: 50rem;
  max-width: var(--max-width);
}
.max-width--larger {
  max-width: calc(var(--max-width) + 2 * 3.75rem);
}

/* Information for screenreaders only 
  copy-pased from https://css-tricks.com/inclusively-hidden/ */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}