/* @font-face definitions */
@font-face {
  font-family: "Platypi";
  src: url("../fonts/Platypi--variable.ttf");
  font-weight: 700 800;
  font-style: normal;
}

@font-face {
  font-family: "Overpass";
  src: url("../fonts/Overpass--variable.ttf");
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: "Overpass";
  src: url("../fonts/Overpass--variable--italic.ttf");
  font-weight: 400 700;
  font-style: italic;
}

:root {
  /* Font families */
  --heading-font-family: "Platypi", serif;
  --body-font-family: "Overpass", sans-serif;
  /* Weights */
  --heading-weight: 800;
  --subheading-weight: 700;
  --body-bold-weight: 700;
  --body-regular-weight: 400;

  /* Type scale */
  font-size: 16px;
  --text-scale-ratio: 1.2;

  --text-heading-size: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio)
                              * var(--text-scale-ratio) * var(--text-scale-ratio)
                              * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-subheading-size: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio)
                                * var(--text-scale-ratio));
  --text-body-size: 1rem;
  --text-body-size--large: calc(1rem * var(--text-scale-ratio));
  --text-body-size--small: calc(1rem / var(--text-scale-ratio));
}

/* Default styles for fonts */
p, input, li, legend, label, button, .product-card--out-of-stock .product-card__picture::before {
  line-height: var(--text-scale-ratio);
  font-family: var(--body-font-family);
  font-weight: var(--body-regular-weight);
  font-size: var(--text-body-size);
}
h1, h2, h3 {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-weight);
}
h1, h2 {
  font-size: var(--text-heading-size);
}
h1 {
  color: var(--colour-primary--light);
}
h2 {
  color: var(--colour-primary--dark);
}
h3 {
  font-size: var(--text-subheading-size);
  color: var(--colour-secondary--dark);
}

.bold {
  font-weight: var(--body-bold-weight);
}

@media (min-width: 85em) {
  /* Made smaller than in design for more appropriate proportions on most devices. */
  :root {
    font-size: 20px;
  }
}
